page-home {
	h2 {
		margin-top: 5% !important;
		color: color($colors, darkgrey, base);
		margin-right: 5%;
		margin-left: 5%;
	}

	.cards {
		text-align: left;
	}
	ion-card {
		display:block;
		overflow:auto;
		height: auto !important;
	}
}
