<ion-header no-border>

	<ion-navbar  color="primary">
		<ion-title>Informations</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding class="darkgrey-text">
	<div *ngIf="lean" class="padd-xs text-para marg-top-s">
		<p>
			Le lean startup est une approche spécifique du démarrage d'une activité économique et du lancement d'un produit. Elle repose sur le « Validated learning (en) » (vérification de la validité des concepts), l'expérimentation scientifique et le design itératif.
			Le concept est initialement développé en 2008 par Eric Ries sur la base de la pensée lean dans des entreprises high-tech de la Silicon Valley.
		</p>
	</div>
	<div *ngIf="bmc" class="padd-xs text-para marg-top-s">
		<p>
			Un business model décrit la manière dont votre organisation crée, délivre et recueille la valeur. En résumé, un business model définit la manière dont votre organisation gagne de l’argent ou, selon vos propres indicateurs de succès : …conquiert des utilisateurs, augmente son trafic,…”. Le concept s’applique à toute organisation, privée ou publique, association, école,…Il n’est pas limité aux entreprises comme pourrait le laisser entendre le terme business.
		</p>
	</div>
	<div *ngIf="mvp" class="padd-xs text-para marg-top-s">
		<p>
			Fait par 12MVP suite au contact de nombreuses entreprises, nous sommes parti du lean canvas afin de l'adapter au modèle des grands groupes.
		</p>
	</div>
</ion-content>
