.scroll-content {
	padding: 0 !important;
}

.toolbar-background {
	background: white;
}
.toolbar-background-md {
	background: white;
}
.toolbar-background-ios {
	background: white;
}

.toolbar-title-md {
	font-family: "Roboto";
	font-weight: 400;
	letter-spacing: 1px;
}
.toolbar-title-ios {
	font-family: "Roboto";
	font-weight: 400;
	letter-spacing: 1px;
}

.tabbar {
	border-top: 0px !important;
	background-color: white !important;
}

.primarybackground {
	background-color: color($colors, primary, base);
}

.lightprimarybackground {
	background-color: color($colors, lightprimary, base);
}

.greybackground {
	background-color: color($colors, lightgrey, base);
}

.defaultbackground {
	background-color: white;
}

.darkbackground {
	background-color: color($colors, darkgrey, base);
}

.grey-text {
	color: color($colors, lightgrey, base);
}

.align-vertical {
	width: 100%;
	position: absolute;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.white-text {
	color: white !important;
}

.darkgrey-text {
	color: color($colors, darkgrey, base);
}

.padd-xs {
	padding-left: 5%;
	padding-right: 5%;
}
.marg-xs {
	margin: 5%;
}

.marg-top-xxs {
	margin-top: 2%;
}

.marg-botton-xxs{
	margin-bottom: 2%;
}

.marg-top-xs {
	margin-top: 5% !important;
}

.marg-top-s {
	margin-top: 10%;
}

.marg-top-md {
	margin-top: 50% !important;
}

.extra-marg-xs {
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}

.extra-marg {
	margin-top: 10% !important;
	margin-bottom: 10% !important;
}

.extra-marg-s {
	margin-top: 13% !important;
	margin-bottom: 13% !important;
}

.extra-marg-md {
	margin-top: 20%;
	margin-bottom: 20%;
}

.align-right {
	text-align: right;
	margin-right: 5%;
}

.align-left {
	text-align: left;
	margin-left: 5%;
}

.align-center {
	text-align: center
}

.rounded {
	border-radius: 8px
}

.baseabsolute {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60%;
	text-align: center;
}

.no-scroll .scroll-content{
	overflow: hidden;
}

.header-buttons {
	z-index: 100;
	height: 100%;
	font-size: 30px;
	margin: 0% 50% 0% 0%;
}

.right-icon {
	padding-right: 1vh !important;
}

ion-card {
	height: 65vh;
}

ion-textarea {
	height: 50vh !important;
	margin-left: 0.5em;
}

textarea {
	height: 100% !important;
}

ion-input {
	padding-left: 1em;
	padding-right: 0.5em !important;
}


// to make keyboard retract correctly between slides.
.input-cover {
	position: static !important;
}

.swiper-pagination-bullets {
	bottom: 20px !important;
}

.mybutton {
	width: 90%;
	height: 10%;
}

.modimgsize {
	height: auto;
	width: auto;
}

.addbutton {
	background-color: #000 !important;
	background: #000 !important;
	height: 30px;
}

//.cardsarearow {
//	width: 100%;
//	height: 10%;
//}

.cardsarea {
	//	height: 15em !important;
}

ion-fab[top][edge] {
	top: -14px;
}

.toolbar-ios-primary .toolbar-title-ios, .toolbar-ios-primary .bar-button-clear-ios, .toolbar-ios-primary .bar-button-default-ios {
	color: white;
}

ion-icon {
	color: white;
}

.button-ios-primary {
	color: white;
}
//
//.swiper-pagination-bullet {
//	height: 16px !important;
//	width: 16px !important;
//}