.scroll-content {
	padding: 0 !important;
}

.toolbar-background {
	background: white;
}
.toolbar-background-md {
	background: white;
}
.toolbar-background-ios {
	background: white;
}

.toolbar-title-md {
	font-family: "Roboto";
	font-weight: 400;
	letter-spacing: 1px;
}
.toolbar-title-ios {
	font-family: "Roboto";
	font-weight: 400;
	letter-spacing: 1px;
}

.tabbar {
	border-top: 0px !important;
	background-color: white !important;
}

.primarybackground {
	background-color: color($colors, primary, base);
}

.lightprimarybackground {
	background-color: color($colors, lightprimary, base);
}

.greybackground {
	background-color: color($colors, lightgrey, base);
}

.defaultbackground {
	background-color: white;
}

.darkbackground {
	background-color: color($colors, darkgrey, base);
}

.grey-text {
	color: color($colors, lightgrey, base);
}

.align-vertical {
	width: 100%;
	position: absolute;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.white-text {
	color: white !important;
}

.darkgrey-text {
	color: color($colors, darkgrey, base);
}

.padd-xs {
	padding-left: 5%;
	padding-right: 5%;
}
.marg-xs {
	margin: 5%;
}

.marg-top-xxs {
	margin-top: 2%;
}

.marg-top-xs {
	margin-top: 5%;
}

.marg-top-s {
	margin-top: 10%;
}

.marg-top-md {
	margin-top: 50% !important;
}

.extra-marg-xs {
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}

.extra-marg {
	margin-top: 10% !important;
	margin-bottom: 10% !important;
}

.extra-marg-s {
	margin-top: 13% !important;
	margin-bottom: 13% !important;
}

.extra-marg-md {
	margin-top: 20%;
	margin-bottom: 20%;
}

.align-right {
	text-align: right;
	margin-right: 5%;
}

.align-left {
	text-align: left;
	margin-left: 5%;
}

.align-center {
	text-align: center
}

.rounded {
	border-radius: 8px
}

.baseabsolute {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60%;
	text-align: center;
}

.no-scroll .scroll-content{
	overflow: hidden;
}

.header-buttons {
	z-index: 100;
	height: 100%;
	font-size: 30px;
	margin: 0% 50% 0% 0%;
}

.righ-icon {
	padding-right: 30% !important;
}

.case {
	height: 34em;
}

ion-textarea {
	height: 28em !important;
	margin-left: 0.5em;
}

textarea {
	height: 100% !important;
}

ion-input {
	padding-left: 1em;
	padding-right: 0.5em !important;
}