page-pdf {
	.challengeButton {
		bottom: 16% !important;
		position: absolute;
		left: 16px;
	}

	.sendButton {
		position: absolute;
		bottom: 3% !important;
		left: 16px;
	}

	ion-content {
		text-align: center;
		position: relative !important;
	}
}
