page-companyform {
	ion-content {
		text-align: center;
		position: relative !important;
	}

	.sendButton {
		position: absolute;
		bottom: 16px !important;
		left: 16px;
	}

	.myitem {
		font-weight: 800;
	}

	ion-input {
		color: color($colors, primary, base) !important;
	}

	.closebutton {
		background-color: color($colors, primary, base) !important;
		background: color($colors, primary, base) !important;
		height: 30px;
	}
	
	.center {
		text-align: center;
	}
}
